/*Form Section*/
section{
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
}

/*Form Inputs*/
input, select{
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

/*Buttons*/
button{
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover{
  background: #218838;
}

/*Fieldset*/
fieldset{
  margin-bottom: 15px;
  padding: 10px;
}